body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#f4f4f4;
    padding:40px;
}

h1{
    color:#007bff;
}

.card{
    background:white;
    width:250px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.2);
}

button{
    padding:10px 20px;
    border:none;
    background:#28a745;
    color:white;
    border-radius:5px;
    cursor:pointer;
}